.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -1rem;
  padding: 40px 0 20px 0;
  list-style: none;
  gap: 3px;
  background: $white2;

  @media screen and (max-width: 880px) {
    padding: 40px 0 130px 0;
  }

  button {
    padding: 7px;
    width: 100%;
    margin: 10px 5px 30px 5px;
    background-color: $white2;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }
  }

  .active {
    background-color: $blue2;
  }
}
